<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LIGHT0</key>
	<string>-1.7320, 1.8, 1.0, 0.0</string>
	<key>LIGHT1</key>
	<string>1.2855, 1.8, 1.532, 0.0</string>
	<key>LIGHT2</key>
	<string>-1.2855, 2.3, 1.532, 0.0</string>
	<key>LIGHT3</key>
	<string>0, 0, 0, 0</string>
	<key>LIGHT4</key>
	<string>0,0,0,0</string>
	<key>LIGHT5</key>
	<string>0,0,0,0</string>
	<key>LIGHT6</key>
	<string>0,0,0,0</string>
	<key>LIGHT7</key>
	<string>0,0,0,0</string>
</dict>
</plist>
